<app-navbar></app-navbar>
<main>
  <div
    class="container max-w-lg flex flex-col gap-4 items-center justify-center"
  >
    <h1 class="text-3xl font-extrabold">Page Not Found</h1>
    <p class="text-center text-lg text-gray-600">
      Well this is awkward... Looks like this page seems to have withdrawn
      itself. Let's deposit you back to a safer location.
    </p>
    <a
      appGoBack
      class="btn py-2 px-4 border hover:bg-gray-50 shadow cursor-pointer"
    >
      Take Me Back &rarr;
    </a>
  </div>
</main>
<app-footer></app-footer>
