<div class="flex flex-col gap-4">
  <section>
    <h1 class="text-2xl font-extrabold">Recent Announcements</h1>
    <p>Some announcements that have happened for Fun Banking recently.</p>
  </section>
  @for (announcement of (announcements$ | async)?.items; track announcement.id)
  {
  <article
    class="flex flex-col gap-4 border-b border-gray-300 last:border-b-0 pb-6"
  >
    <div class="flex flex-col">
      <h2 class="text-xl font-extrabold">{{ announcement.title }}</h2>
      <time class="text-xs text-gray-500">{{
        announcement.created_at | date : "MMMM dd, yyyy 'at' hh:mma"
      }}</time>
      <p>{{ (announcement.description | stripHtml).slice(0, 255) }}...</p>
    </div>
    <div>
      <a
        [routerLink]="['/announcements', announcement.id]"
        class="btn btn-success px-2.5 py-1.5 text-sm"
      >
        Read more &rarr;
      </a>
    </div>
  </article>
  } @empty { There are currently no announcements }
</div>
