<app-homepage-layout>
  <div class="flex flex-col gap-16 pb-8">
    <header>
      <div class="container py-8">
        <app-banner exclamation="🧼">
          Fun Banking got some upgrades over the break! It's the same
          application, with new look.
        </app-banner>
      </div>
      <div class="container">
        <section id="Homepage_Header_Headline">
          <h1>Where Money Makes Cents</h1>
          <p>
            Empowering families and organizations to raise financial wizards
            through interactive banking simulations.
          </p>
        </section>
        <div class="call-to-action">
          <a class="action-btn" routerLink="signup">Get Started Today</a>
          <div id="Homepage_Header_Disclaimer" class="fine-print">
            No credit card needed ✨ Unlimited time on free plan
          </div>
        </div>
      </div>
    </header>
    <!-- Highlights -->
    <div class="flex flex-col gap-8">
      <div class="container">
        <h1 class="text-4xl font-extrabold text-primary-link text-center">
          Trusted & Serving
        </h1>
      </div>
      <div class="container flex gap-8 justify-center">
        <div class="flex flex-col md:flex-row gap-8">
          <div class="flex flex-col text-center">
            <div class="font-extrabold text-4xl">
              {{ numberOfUsers() | formattedNumber }}
            </div>
            <div class="font-semibold">Users</div>
          </div>
          <div class="flex flex-col text-center">
            <div class="font-extrabold text-4xl">
              {{ numberOfBanks() | formattedNumber }}
            </div>
            <div class="font-semibold">Banks</div>
          </div>
        </div>
        <div class="flex flex-col md:flex-row gap-8">
          <div class="flex flex-col text-center">
            <div class="font-extrabold text-4xl">
              {{ numberOfCustomers() | formattedNumber }}
            </div>
            <div class="font-semibold">Customers</div>
          </div>
          <div class="flex flex-col text-center">
            <div class="font-extrabold text-4xl">
              {{ numberOfTransactions() | formattedNumber }}
            </div>
            <div class="font-semibold">Transfers</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container highlights">
      <section class="card">
        <h1>🐷 Create Banks</h1>
        <p>
          Fun Banking tailors the banking experience to suit different age
          groups and learning objectives. Set up accounts, withdrawals, and
          deposits, just like a real bank. Spark the curiosity of learners as
          they step into the world of finance with their own banks.
        </p>
      </section>
      <section class="card">
        <h1>🏦 Manage Transactions</h1>
        <p>
          Fun Banking tailors the banking experience to suit different age
          groups and learning objectives. Set up accounts, withdrawals, and
          deposits, just like a real bank. Spark the curiosity of learners as
          they step into the world of finance with their own banks.
        </p>
      </section>
      <section class="card">
        <h1>🧐 Insights</h1>
        <p>
          Fun Banking tailors the banking experience to suit different age
          groups and learning objectives. Set up accounts, withdrawals, and
          deposits, just like a real bank. Spark the curiosity of learners as
          they step into the world of finance with their own banks.
        </p>
      </section>
    </div>
    <!-- On the move -->
    <section class="container on-the-move">
      <div>
        <span class="support-text">On the Move</span>
        <h1>Fun Banking On The Go</h1>
      </div>
      We believe in learning on the go! Fun Banking is fully optimized for
      mobile devices, allowing learners to access their virtual banks and
      financial simulations anytime, anywhere. Whether you're on a smartphone,
      tablet, or computer, our platform ensures a seamless learning experience
      across all devices. Empower financial education on your terms - be it at
      home, in the classroom, or on the move! Try it for yourself on your mobile
      phone, tablet, or desktop.
    </section>
    <!-- How it works -->
    <section class="how-it-works">
      <div class="container">
        <h1>How it Works</h1>
        <p>
          Fun Banking provides a comprehensive and engaging approach to
          financial education. By creating virtual banks, managing transactions,
          and gaining insights into learners' financial journeys, Fun Banking
          equips families and organizations with a powerful tool to raise
          financially savvy individuals. With Fun Banking, learning about money
          management becomes interactive, practical, and fun!
        </p>
        <p>
          Users create banks and they can add customers to those banks. Once you
          have customers, you can share the link to your bank to them and they
          can sign in using their PINs that you setup. The interface is easy to
          navigate on any device.
        </p>
        <p>
          We're working on adding some guides to help new users out, but we
          recommend you play around first with some mock data before sharing the
          link out.
        </p>
      </div>
    </section>
    <!-- Partnership -->
    <section class="partnership container text-center mb-12">
      <div class="text-5xl mb-4 text-red-500">&hearts;</div>
      Fun Banking was born from a partnership with special education teachers,
      aiming to cultivate a rewarding experience for students while imparting
      essential banking skills. While initially designed for maintaining a
      student rewards program, the versatility of Fun Banking extends far
      beyond, opening up limitless possibilities.
    </section>
  </div>
</app-homepage-layout>
