<app-homepage-layout>
  <header>
    <div class="container">
      <section id="Homepage_Header_Headline">
        <h1>Where Money Makes Cents</h1>
        <p>
          Empowering families and organizations to raise financial wizards
          through interactive banking simulations.
        </p>
      </section>
      <div class="call-to-action">
        <a class="action-btn" routerLink="/">Get Started Today</a>
        <div id="Homepage_Header_Disclaimer" class="fine-print">
          No credit card needed ✨ Unlimited time on free plan
        </div>
      </div>
    </div>
  </header>
</app-homepage-layout>
