<section class="flex flex-col gap-2">
  <header class="flex justify-between items-center">
    <h2 class="font-bold">Banks</h2>
    <a routerLink="/banks/new" class="btn btn-success px-2 py-1 text-sm">
      New
    </a>
  </header>
  <ul>
    @defer (when !(isLoading$ | async)) { @for(bank of banks$ | async; track
    bank.id) {
    <li>
      <a
        [routerLink]="['/banks', bank.id]"
        class="inline-flex items-center gap-2 text-sm"
      >
        <img class="profile" [src]="bank.owner.avatar" alt="profile picture" />
        {{ bank.owner.username }}/{{ bank.slug }}
      </a>
    </li>
    } @empty {
    <div class="text-gray-500 text-sm">
      Looks like you don't have or belong to any banks yet.
      <a [routerLink]="['/', 'banks', 'new']">Create one</a> to get started.
    </div>
    } } @placeholder (minimum 1s) {
    <div class="flex flex-col gap-2">
      <div class="flex gap-2">
        <div class="shimmer w-5 h-5 rounded-full bg-gray-100 shrink-0"></div>
        <div class="shimmer w-full h-5 rounded-lg bg-gray-100"></div>
      </div>
      <div class="flex gap-2">
        <div class="shimmer w-5 h-5 rounded-full bg-gray-100 shrink-0"></div>
        <div class="shimmer w-full h-5 rounded-lg bg-gray-100"></div>
      </div>
      <div class="flex gap-2">
        <div class="shimmer w-5 h-5 rounded-full bg-gray-100 shrink-0"></div>
        <div class="shimmer w-full h-5 rounded-lg bg-gray-100"></div>
      </div>
    </div>
    }
  </ul>
</section>
