<section class="flex flex-col gap-2">
  <header class="flex justify-between items-center">
    <h2 class="font-bold">Banks</h2>
    <a routerLink="/banks/new" class="btn btn-success px-2 py-1 text-sm">
      New
    </a>
  </header>
  <ul>
    @for(bank of banks$ | async; track bank.id) {
    <li>
      <a
        [routerLink]="['/banks', bank.id]"
        class="inline-flex items-center gap-2 text-sm"
      >
        <img class="profile" [src]="bank.owner.avatar" alt="profile picture" />
        {{ bank.owner.username }}/{{ bank.slug }}
      </a>
    </li>
    } @empty {
    <div class="text-gray-500 text-sm">
      Looks like you don't have or belong to any banks yet.
      <a [routerLink]="['/', 'banks', 'new']">Create one</a> to get started.
    </div>
    }
  </ul>
</section>
