<form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col gap-4">
  <app-banner
    *ngIf="message().message"
    [severity]="message().severity"
    [exclamation]="message().exclamation"
  >
    {{ message().message }}
  </app-banner>
  <div class="form-input">
    <input
      formControlName="password"
      id="password"
      type="password"
      autocomplete="password"
      maxlength="255"
      required
    />
    <label for="password">Password</label>
  </div>
  <div class="form-input">
    <input
      formControlName="confirmation"
      id="confirmation"
      type="password"
      autocomplete="password"
      maxlength="255"
      required
    />
    <label for="confirmation">Password Confirmation</label>
  </div>
  <div>
    <input type="submit" value="Reset Password" [disabled]="form.invalid" />
  </div>
</form>
