<app-dashboard-layout>
  <ng-container ngProjectAs="dashboard-drawer">Hey</ng-container>
  <ng-container ngProjectAs="dashboard-content">
    <div class="flex justify-between items-center">
      <h1 class="text-xl font-semibold">Dashboard</h1>
      <div>
        <a
          href="mailto:hey@bytebury.com?subject=Feedback for Fun Banking"
          class="block border border-gray-200 rounded-lg p-2 px-3 no-underline bg-white text-sm hover:bg-gray-50 hover:underline transition-colors duration-300 ease-in-out"
        >
          Send feedback
        </a>
      </div>
    </div>
    <app-card> Nice OK </app-card>
  </ng-container>
</app-dashboard-layout>
